.contactPage{
    min-height: 100vh;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.contactPageTitle{
    margin-top: 7.2vw;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #222;
    text-transform: uppercase;

}



.contactForm{
    position: relative;
    display: flex;
    padding: 20px 5px 40px 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    max-width: 38rem;
    margin-top: 50px;
    margin-bottom: 7.2vw;
    border: solid 10px rgb(30, 136, 229);
    border-radius: 10px;
    background: linear-gradient(to bottom, #1e83dc, #1565c0);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.name,.email{
    font-size: medium;
    font-style: normal;
    width: 93%;
    max-width: 40rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    background-color:white;   
}
.msg{
    font-size: large;
    font-style: normal;
    width: 93%;
    max-width: 40rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    background-color:white;

}
textarea::placeholder, input::placeholder {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    opacity: 0.6; /* Makes it slightly transparent */
  }

  

  
.submitBtn{
    position: absolute;
    bottom: -25px; /* Move it below the TV frame */
    left: 50%;
    transform: translateX(-50%); /* Center the button */
    width: 93%; /* Adjusted width to match TV frame */
    min-height: 40px;
    color: black;
    font-weight: 600;
    font-size: 1rem;
    background: linear-gradient(to bottom, #ffffff, #f5f5f5);
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px; /* Curved remote-like button */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}
.submitBtn:hover {
    color: black;
    transform: translateX(-50%) scale(1.05); /* Slight grow effect */
  }

  @media screen and (max-width:768px){
    .contactPage{
        min-height: 85vh;
    }
    .contactPageTitle{
        font-size: 2.2rem;
      }
    
    .contactForm{
        width: 100%;
    }
  }